/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .main-menu:before {
        display: none;
    }
    .main-menu {
        margin-left: -20px;
    }
    .main-menu a{
        padding: 1.5rem .7rem .5rem .7rem;
    }
    h1 {
        margin-left: 1rem;
    }
    .civil img {
        height: 90px;
    }
    .statistics-header-img {
      left: 1rem;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .main-menu {
        margin-left: 0;
        margin-top: 2rem;
    }
    .statistics img {
        display: none;
    }
    .statistics-header {
        height: 3rem;
        line-height: 4rem;
    }
    h1 {
        text-align: center;
        margin-left: 0;
    }
    .meta {
        font-size: 12px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .main-menu {
        display: none;
    }
    .logo-img {
        display: none;
    }
    .logo-img-mobile {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .headerwrap-right {
        display: none;
    }
    .headerwrap {
        padding-top: 50px;
    }
    .navbar-default {
        display: block;
    }
    .headerwrap-logo {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .headerwrap-logo {
        padding: 15px 15px;
    }
    .headerwrap-logo:after {
        display: none;
    }
    .statistics {
        display: none;
    }
    .top {
        text-align: center;
    }
    .civil {
        text-align: center;
    }
    .civil img {
        display: inline-block;
        text-align: center;
        margin-bottom: 5px;
    }
    .civil-phone, .civil-mobile,.civil-email {
        display: block;
        padding: 5px 0;
    }
    .search-list ol{
        text-align: center;
    }
    .search-list img {
        margin-bottom: 5px;
    }
    footer {
        text-align: center;
    }
    .footer-big {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .footer-sections {
        display: none;
    }
    .footer-socials li {
        display: inline-block;
    }
    .footer-socials ul {
        margin: 1rem 0;
    }
    .share-info a {
        width: 100%;
        max-width: 400px;
    }
    .md-visible {
        display: none;
    }
    button.orange-btn {
        width: 100%;
        max-width: 400px;
        margin-top: 20px;
    }
    .rate {
    padding-left: 0;
    padding-right: 0;
    }
    .search ol .search-list-item {
        padding-left: 5px;
        text-align: left;
    }
    ul.nav-pills li {
        width: 30%;
    }
    .status-bar {
        padding-left: 0;
    }
    .status-bar-box:first-of-type {
        width: 100%;
    }
    .status-bar-box img {
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
    }
    .status-bar-box:last-of-type {
        width: 23%;
        text-align: right;
    }
    .share {
        text-align: center;
        margin-bottom: 0;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    html {
        font-size: 13px;
    }
    footer {
        text-align: center;
    }
    footer .copyright {
        text-align: center;
        padding-top: 1.5rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    .main-menu {
        display: none;
    }
    ul.nav-pills {
        margin-left: 0;
    }
    ul.nav-pills li {
        width: 100%;
    }
    div.status-bar-box {
        width: 100%;
    }
    div.status-bar-box:last-of-type {
        width: 100%;
        text-align: center;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


